<h3>Requirements{{#if name}} for {{name}}{{/if}}</h3>
{{#each requirements as |r rIndex|}}
    <fieldset class="row">
        <div class="rule form-group" style="border:1px solid black">
            <label class="tc">Operator</label>
            <select name="{{../ruleIndex}}.requirements.{{rIndex}}.operator" class="requirement">
                {{#each ../operatorChoices as |v k|}}
                    <option value="{{k}}" {{#if (eq k r.operator)}} selected {{/if}}>{{v}}</option>
                {{/each}}
            </select>
            <div class="rule-controls right-end">
                <a class="add-rule-requirement-sub" data-parent={{../ruleIndex}} data-idx="{{rIndex}}" title="Add Requirement"><i class="fas fa-add"></i></a>
                <a class="remove-rule-requirement" data-parent={{../ruleIndex}} data-idx="{{rIndex}}" title="Remove"><i class="fas fa-trash"></i></a>
            </div>
        </div>
        {{#each r.values as |v vIndex|}}
            {{> requirementRow r=v ruleIndex=../../ruleIndex rIndex=rIndex vIndex=vIndex requirementChoices=../../requirementChoices }}
        {{/each}}

    </fieldset>
    <hr/>
{{/each}}
<div class="create-rule">
    <a class="add-rule-requirement" data-idx="{{ruleIndex}}" title="Add Requirement Group"><i class="fas fa-add"></i>Add Requirement Group</a>
</div>


{{#*inline "requirementRow"}}
<div class="rule form-group" style="border:1px solid black">
    <label class="tc">Requirement {{add vIndex 1}}</label>

    <select name="{{ruleIndex}}.requirements.{{rIndex}}.values.{{vIndex}}.requirement" class="trigger">
        {{#each requirementChoices as |v k|}}
            <option value="{{k}}" {{#if (eq k ../r.requirement)}} selected {{/if}}>{{v}}</option>
        {{/each}}
    </select>
    <label class="tc">Effect UUID/Lvl</label>
    <input type="text" name="{{ruleIndex}}.requirements.{{rIndex}}.values.{{vIndex}}.value" value="{{r.value}}" />
    {{#if r.effObj}}
        <a class="object content-link" data-uuid="{{r.effObj.uuid}}">
            <img src="{{r.effObj.img}}"/>
            {{r.effObj.name}}
        </a>
    {{/if}}
    <a style="flex: 0.5;" class="right-end remove-rule-requirement-sub" data-parent={{ruleIndex}} data-tidx="{{rIndex}}" data-vidx="{{vIndex}}" title="Remove"><i class="fas fa-trash"></i></a>
</div>
{{/inline}}