<div>
    <div class="active-controls">
        <label>Group</label>
        <input type="text" name="group" value="{{group}}"/>
    </div>
    <div class="active-controls">
        <label>Name</label>
        <input type="text" name="name" value="{{name}}"/>
    </div>
    <div class="active-controls">
        <label>Labels</label>
        <multi-select id="traits" name="labels">
            {{ selectOptions allLabels selected=labels localize=true }}
        </multi-select>
    </div>
    <div class="">
        <div class="tags input-element-tags source-list">
            {{#each source as |c cIndex|}}
                <div class="tag">
                    <span>{{c}}</span>
                    <a class="remove-source remove fa-solid fa-times" data-key={{cIndex}} data-tooltip="Remove condition"
                       aria-label="Remove condition"></a>
                </div>
            {{/each}}
        </div>

        <div class="input">
            <i class="fa fa-tags"></i>
            <div>
                <input type="text" class="rule-source-ip" placeholder="Enter source" data-key="source">
            </div>
        </div>
    </div>
    <div class="" style="margin-top: 15px; display: flex; justify-content: space-between;">
        <div>
            <label>Base rules - {{baseRuleCount}}</label>
            <i class="edit-base-rules fas fa-edit"></i>
            <i class="add-base-rules fas fa-plus"></i>
        </div>
        <div>
            <label>Complex rules - {{complexRuleCount}}</label>
            <i class="edit-complex-rules fas fa-edit"></i>
            <i class="add-complex-rules fas fa-plus"></i>
        </div>
        <div>
            <label>Handler rules - {{handlerRuleCount}}</label>
<!--            <i class="edit-handler-rules fas fa-edit"></i>-->
        </div>
    </div>
</div>